extends layout.pug

append head
    style 
        include styles/login.css
        include styles/register.css

    title Inscription

block content
    form.form-signin.text-center
        img(
            src="https://upload.wikimedia.org/wikipedia/commons/9/93/Google_Contacts_icon.svg"
            class="mb-4"
            width="72"
            height="72"
        )

        h1.h3.mb-3.fw-normal Inscription

        input(
            type="email"
            class="form-control"
            id="email"
            placeholder="Adresse mail"
            required
        )

        input(
            type="password"
            class="form-control"
            id="password"
            placeholder="Mot de passe"
            required
        )

        input(
            type="password"
            class="form-control mb-4"
            id="passwordConf"
            placeholder="Confirmation mot de passe"
            required
        )

        button(type="submit" class="btn btn-lg btn-primary btn-block") S'inscrire

        div.mt-5
            a(href="./login") Déjà membre ? Connectez-vous !